---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/ch_103rgh27wYrAQOnHOhYJmAjy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: ch_103rgh27wYrAQOnHOhYJmAjy",
            "param": "id"
          }
        }
  recorded_at: Wed, 16 Apr 2014 19:56:38 GMT
recorded_with: VCR 2.9.0
