---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103s3l27wYrAQOnHe6dxw2WM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103s3l27wYrAQOnHe6dxw2WM",
          "created": 1397757000,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103s3l27wYrAQOnHJxaWVVT5",
              "object": "charge",
              "created": 1397757000,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103s3l27wYrAQOnHg9ewI4ES",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "tyQ3sUa8vvxX2XTd",
                "customer": "cus_3s2xX2cY3NV2ed",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3s2xX2cY3NV2ed",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3s3lFT2ndeOkTz"
        }
  recorded_at: Thu, 17 Apr 2014 18:33:03 GMT
recorded_with: VCR 2.9.0
