---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103s4T27wYrAQOnHS3OaAbq5",
          "livemode": false,
          "created": 1397759611,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103s4T27wYrAQOnHZJ4Ld5gk",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "v2VeHHGIHahXU4dQ",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 17 Apr 2014 18:33:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103s4T27wYrAQOnHS3OaAbq5&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103s4T27wYrAQOnHVl7DrySb"
          }
        }
  recorded_at: Thu, 17 Apr 2014 18:33:32 GMT
recorded_with: VCR 2.9.0
