---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103q1L27wYrAQOnHFzaiGBP1&description=Charge%20for%20MyFlix%20for%20testingthisemail%40test.com
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103q1L27wYrAQOnHmdjFOlab"
          }
        }
  recorded_at: Sat, 12 Apr 2014 07:11:49 GMT
recorded_with: VCR 2.9.0
