---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103rMQ27wYrAQOnH3fzoBoAP&email=testingthisemail%40test.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 15 Apr 2014 21:02:28 GMT
recorded_with: VCR 2.9.0
