---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103s4T27wYrAQOnHv4dqPJVX&email=testingthisemail%40test.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397759647,
          "id": "cus_3s4TOCGPNJ0MHn",
          "livemode": false,
          "description": null,
          "email": "testingthisemail@test.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3s4TOCGPNJ0MHn/subscriptions",
            "data": [
              {
                "id": "sub_3s4TThsv4ufIaa",
                "plan": {
                  "interval": "month",
                  "name": "myflix_base",
                  "created": 1397595676,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1397759647,
                "status": "active",
                "customer": "cus_3s4TOCGPNJ0MHn",
                "cancel_at_period_end": false,
                "current_period_start": 1397759647,
                "current_period_end": 1400351647,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3s4TOCGPNJ0MHn/cards",
            "data": [
              {
                "id": "card_103s4T27wYrAQOnHcGmAOu9X",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "v5aIbtpRE6eDf9H7",
                "customer": "cus_3s4TOCGPNJ0MHn",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103s4T27wYrAQOnHcGmAOu9X"
        }
  recorded_at: Thu, 17 Apr 2014 18:34:07 GMT
recorded_with: VCR 2.9.0
